@using System.Data

@model DataTable
@{
  ViewBag.Title = "Detail";
}

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Contact Detail</h1>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-3">
      @{
        string image = Model.Rows[0]["ProfileImage"].ToString();
        string path = Server.MapPath("~\\Content\\Images\\Profile\\" + image);
        if (!File.Exists(path))
        {
          path = @"\Content\Images\Profile\EE306F1B79D542BF9A58F6BAFDC1F556.jpg";
        }
        else
        {
          path = @"\Content\Images\Profile\" + image;
        }
      }
      <img class="img-thumbnail" src="@path" alt="Card image cap">
      <span class="btn btn-success col-lg-12">@Model.Rows[0]["Relation"]</span>
      <a href="/Contact/edit/@Model.Rows[0]["Id"]" class="btn btn-danger col-lg-12">Edit</a>
    </div>
    <div class="col-lg-9">
      <div class="col-lg-6">
        <label class="control-label col-lg-12"><span class="fa fa-user"></span> <span class="summary">Name : @Model.Rows[0]["FullName"]</span></label>
        <label class="control-label col-lg-12"><span class="fa fa-envelope"></span> <span class="summary">Email : @Model.Rows[0]["PrimaryEmail"]</span></label>
        <label class="control-label col-lg-12"><span class="fa fa-phone"></span><span class="summary">Mobile : @Model.Rows[0]["Mobile1"] , @Model.Rows[0]["Mobile2"]</span></label>
        <label class="control-label col-lg-12"><span class="fa fa-users"></span><span class="summary">Relation : @Model.Rows[0]["Relation"]</span></label>
      </div>
      <div class="col-lg-6">
        <label class="control-label col-lg-12"><span class="fa fa-map-marker"></span><span class="summary">Address : @Model.Rows[0]["Address"]</span></label>
        <label class="control-label col-lg-12">&nbsp;</label>
        <label class="control-label col-lg-12">&nbsp;</label>
        <label class="control-label col-lg-12"><span class="fa fa-calendar"></span><span class="summary">Birthday : @Convert.ToDateTime(Model.Rows[0]["BirthDay"]==DBNull.Value? DateTime.MinValue: Model.Rows[0]["BirthDay"]).ToString("dd-MMM-yyyy")</span></label>
      </div>

      <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#home" data-toggle="tab" aria-expanded="false">Personal Info</a>
          </li>
          <li class="">
            <a href="#profile" data-toggle="tab" aria-expanded="false">Note</a>
          </li>
          <li class="">
            <a href="#messages" data-toggle="tab" aria-expanded="true">IM</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade active in"  id="home">
            <label class="control-label col-lg-12">Company : @Model.Rows[0]["Company"]</label>
            <label class="control-label col-lg-12">Title : @Model.Rows[0]["Title"]</label>
            <label class="control-label col-lg-12">Website : @Model.Rows[0]["Website"]</label>
            <label class="control-label col-lg-12">Email : @Model.Rows[0]["ProfEmail"]</label>
            <label class="control-label col-lg-12">Telephone : @Model.Rows[0]["Telephone1"] , @Model.Rows[0]["Telephone2"]</label>
            <label class="control-label col-lg-12">Mobile : @Model.Rows[0]["ProfMobile1"], @Model.Rows[0]["ProfMobile2"]</label>
            <label class="control-label col-lg-12">Fax : @Model.Rows[0]["Fax"]</label>
          </div>
          <div class="tab-pane fade" id="profile">
            @Model.Rows[0]["Note"]
          </div>
          <div class="tab-pane fade" id="messages">
            <label class="control-label col-lg-12">Skype : @Model.Rows[0]["Skype"]</label>
            <label class="control-label col-lg-12">Windows Live : @Model.Rows[0]["WindowsLive"]</label>
            <label class="control-label col-lg-12">Yahoo : @Model.Rows[0]["Yahoo"]</label>
            <label class="control-label col-lg-12">Hangout : @Model.Rows[0]["Hangout"]</label>
            <label class="control-label col-lg-12">Gmail : @Model.Rows[0]["Gmail"]</label>
            <label class="control-label col-lg-12">Facebook : @Model.Rows[0]["Facebook"]</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
