@using ContactMVC.Models;
@using System.Data;
@using Contact.CRUD;

@model ContactPerson

@{
  ViewBag.Title = "Edit";
  GroupCRUD gc = new GroupCRUD();
  DataTable tbl = gc.GetAllGroup();
}

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Contact Detail</h1>
  </div>
  <div class="col-lg-12">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/Contact/edit">
      <div class="row col-lg-12">
        <div class="col-lg-3">
        @Html.HiddenFor(m => m.Id);
          @{
            string image = Model.ImageName;
            string path = Server.MapPath("~\\Content\\Images\\Profile\\" + image);
            if (!File.Exists(path))
            {
              path = @"\Content\Images\Profile\EE306F1B79D542BF9A58F6BAFDC1F556.jpg";
            }
            else
            {
              path = @"\Content\Images\Profile\" + image;
            }
          }
          <img class="img-thumbnail" src="@path" alt="Card image cap" id="profilePic">
          @Html.TextBoxFor(m => m.ProfilePicture, new { @type = "file", @class = "btn btn-primary", @style = "width:97%", @value = "Browse...", @accept = "image/png, image/jpeg", @onchange = "readURL(this);" })
        </div>
        <div class="col-lg-9">
          <div class="col-lg-6">
            <div class="row">
              <div class="form-group">
                <label class="control-label col-lg-3">Name</label>
                <div class="col-lg-9">
                  @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder = "Enter Name" })
                  @Html.ValidationMessageFor(m => m.FullName)
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-3">Email</label>
                <div class="col-lg-9">
                  @Html.TextBoxFor(m => m.PrimaryEmail, new { @class = "form-control", @placeholder = "Enter Email", @type = "Email" })
                  @Html.ValidationMessageFor(m => m.PrimaryEmail)
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-3">Mobile</label>
                <div class="col-lg-9">
                  @Html.TextBoxFor(m => m.Mobile1, new { @class = "form-control", @placeholder = "Enter Mobile 1" })
                  @Html.ValidationMessageFor(m => m.Mobile1)
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-3">Relation</label>
                <div class="col-lg-9">
                  @Html.TextBoxFor(m => m.Relation, new { @class = "form-control", @placeholder = "Enter Relation" })
                  @Html.ValidationMessageFor(m => m.Relation)
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label col-lg-3">Address</label>
              <div class="col-lg-9">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                @Html.ValidationMessageFor(m => m.Address)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-3">Group</label>
              <div class="col-lg-9">
                @Html.DropDownListFor(m => m.GroupId, new SelectList(tbl.AsDataView(), "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Group)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <div class="col-lg-9">
                @Html.TextBoxFor(m => m.Mobile2, new { @class = "form-control", @placeholder = "Enter Mobile 2" })
                @Html.ValidationMessageFor(m => m.Mobile2)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-3">Birthday</label>
              <div class="col-lg-9">
                @Html.TextBoxFor(m => m.BirthDay, new { @class = "form-control", @placeholder = "Enter Birthday", @type = "date" })
                @Html.ValidationMessageFor(m => m.BirthDay)
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class=" row col-lg-12" style="margin-top:10px;">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#home" data-toggle="tab" aria-expanded="false">Personal Info</a>
          </li>
          <li class="">
            <a href="#profile" data-toggle="tab" aria-expanded="false">Note</a>
          </li>
          <li class="">
            <a href="#messages" data-toggle="tab" aria-expanded="true">IM</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="clearfix"></div>
          <div class="tab-pane fade active in" id="home">
            <div class="form-group">
              <label class="control-label col-lg-2">Company</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Company, new { @class = "form-control", @placeholder = "Enter Company Name" })
                @Html.ValidationMessageFor(m => m.Company)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Title</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Enter Profession Title" })
                @Html.ValidationMessageFor(m => m.Title)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Website</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Website, new { @class = "form-control", @placeholder = "Enter Website" })
                @Html.ValidationMessageFor(m => m.Website)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Email</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.ProfEmail, new { @class = "form-control", @placeholder = "Enter Professional Email", @type = "email" })
                @Html.ValidationMessageFor(m => m.ProfEmail)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Telephone</label>
              <div class="col-lg-5">
                @Html.TextBoxFor(m => m.Telephone1, new { @class = "form-control", @placeholder = "Enter Telephone 1" })
                @Html.ValidationMessageFor(m => m.Telephone1)
              </div>
              <div class="col-lg-5">
                @Html.TextBoxFor(m => m.Telephone2, new { @class = "form-control", @placeholder = "Enter Telephone 2" })
                @Html.ValidationMessageFor(m => m.Telephone2)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Mobile</label>
              <div class="col-lg-5">
                @Html.TextBoxFor(m => m.ProfMobile1, new { @class = "form-control", @placeholder = "Enter Mobile 1" })
                @Html.ValidationMessageFor(m => m.ProfMobile1)
              </div>
              <div class="col-lg-5">
                @Html.TextBoxFor(m => m.ProfMobile2, new { @class = "form-control", @placeholder = "Enter Mobile 2" })
                @Html.ValidationMessageFor(m => m.ProfMobile2)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Fax</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @placeholder = "Enter Fax" })
                @Html.ValidationMessageFor(m => m.Fax)
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile">
            <div class="form-group">
              <div class="col-lg-12">
                @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @placeholder = "Enter Note", @rows = "10" })
                @Html.ValidationMessageFor(m => m.Note)
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="messages">
            <div class="form-group">
              <label class="control-label col-lg-2">Skype</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Skype, new { @class = "form-control", @placeholder = "Enter Skype ID" })
                @Html.ValidationMessageFor(m => m.Skype)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">windows Live</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.WindowsLive, new { @class = "form-control", @placeholder = "Enter Windows Live ID" })
                @Html.ValidationMessageFor(m => m.WindowsLive)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Yahoo</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Yahoo, new { @class = "form-control", @placeholder = "Enter Yahoo ID" })
                @Html.ValidationMessageFor(m => m.Yahoo)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Hangout</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Hangout, new { @class = "form-control", @placeholder = "Enter Hangout ID" })
                @Html.ValidationMessageFor(m => m.Hangout)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Gmail</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Gmail, new { @class = "form-control", @placeholder = "Enter Gmail ID" })
                @Html.ValidationMessageFor(m => m.Gmail)
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Facebook</label>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Facebook, new { @class = "form-control", @placeholder = "Enter Facebook ID" })
                @Html.ValidationMessageFor(m => m.Facebook)
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class=" col-lg-offset-4 col-lg-2">
          <input type="submit" value="Add" class="btn btn-primary" style="width:100%" />
        </div>
      </div>

    </form>
  </div>
</div>

@section scripts{
  <script>
    $(document).ready(function () {

    });

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#profilePic')
            .attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
}
